

table{
  width: 90%;
  max-width: 1280px;
  color: #444; 
  border: solid #ccc 2px;
  border-collapse: separate;
  border-spacing: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}


th, td {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.sticky-table {
  position: relative;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}



 
/* table > tbody > tr:hover {
  background: #fbf8e9;
} */